@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/banner.png" class="rounded" alt="Logo">
</div>

<h4>Features</h4>
<ul>
    <li>ASPNet.Core</li>
    <li>Entity Framework Core</li>
    <li>Database managed by MySQL</li>
    <li>MVC Pattern</li>
    <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
</ul>
